.button-quiz {
  background-color: #4d443a;
}

.button-quiz {
  -moz-box-shadow: inset 0 1px 0 0 #d1cac2;
  -webkit-box-shadow: inset 0 1px 0 0 #d1cac2;
  box-shadow: inset 0 1px 0 0 #d1cac2;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-bottom-left-radius: 5px;
  text-indent: 0;
  border: 0;
  display: inline-block;
  color: #fff;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  font-style: normal;
  height: 30px;
  line-height: 30px;
  padding: 0 15px;
  text-decoration: none;
  text-align: center;
  text-shadow: 1px 1px 0 #7d7363;
  cursor: pointer;
  background-color: #c2bcb4;
}

.button-quiz.enabled {
  background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #c2bcb4), color-stop(1, #4d443a) );
  background: -moz-linear-gradient( center top, #c2bcb4 5%, #4d443a 100% );
  background-color: #c2bcb4;
  filter:progid: DXImageTransform.Microsoft.gradient(startColorstr='#c2bcb4', endColorstr='#4d443a');
}
.button-quiz:hover {
  color: #fff;
  text-decoration: none;
}
.button-quiz.enabled:hover {
  background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #4d443a), color-stop(1, #c2bcb4) );
  background: -moz-linear-gradient( center top, #4d443a 5%, #c2bcb4 100% );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4d443a', endColorstr='#c2bcb4');
  background-color: #4d443a;
}

.back-question {
  margin-right: 1em;
}

.quiz-landing,
.question-wrapper {
  text-align: center;
}

.question-number {
  margin: 1.2em 0 0;
  display: inline-block;
}

.question-options {
  margin: 0 0 1.2em;
}

.illustration-wrapper {
  margin: 1em 0;
}
